/* .d3-component svg {
  background: #ddd;
  max-height: 300px;
} */

.petal {
  width: 1412px;
  height: 2900px;
  margin-left: 200px;
}
/*
*{
  margin-left: 10px; 
}
*/
.article-header{
  margin-left: 0px; 
}

/* .idyll-root :not(.article-header){
  margin-left: 20px; 
} */

.Key{
  height: 200px;
  width: 100%; 
}

/*
.petal{
  width: 100%; 
  height: 2000px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: lightblue;
}
*/

.petal{
  margin-left: 0px;
  padding-left: 0px;
  background-color: lightblue;
}

.idyll-text-container{
  border-spacing: 15px;
  width: 100%;
  height: 2000;

}


/* body {
  overflow-x: hidden !important;
} */

/* @media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
} */
