/* .d3-component svg {
  background: #ddd;
  max-height: 300px;
} */

.petal {
  width: 1400px;
  height: 1000px;
}
/* *{
  margin-left: 10px; 
} */
/* body {
  overflow-x: hidden !important;
} */

/* @media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
} */
